.App {
    font-family: Arial, sans-serif;
    background-color: #f8f8eb;
}

.news-section-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Balanced News Section (Left side) */
.balanced-news {
    width: 80%;
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
    border-right: 2px solid #ddd;

    /* Hide scrollbar for Chrome, Safari, and Opera */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.balanced-news::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.news-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-card {
    display: flex;
    align-items: flex-start;
}

.news-image {
    width: 170px;
    height: 150px;
    margin-right: 10px;
}

.news-content {
    flex: 1;
}

.news-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.news-section-container {
    display: flex;
    justify-content: space-between;
}
.top-stories{
    height: 450px;
        overflow-y: scroll;
}

.top-stories::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}
.top-story {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.story-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
}

.story-details {
    display: flex;
    flex-direction: column;
}

.story-details h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.story-time {
    font-size: 12px;
    color: gray;
}

